body {
    font-family: sans-serif;
}

p {
	color: red;
}

h3 {
	text-align: center; 
	text-decoration: underline;
}

h4 {
	text-decoration: underline;
}

.form-row {
    padding: 10px;
}
label {
    display: block;
    margin: 3px 0;
}
.form-row input {
    width: 220px;
    padding: 3px 1px;
}
.date-time input[type="date"] {
    width: 130px;
}
