@(metas: List[Meta])(dataAtual : String)(dataMaxima : String)

@main("Metas Na Web") {

	<div class="container-fluid">
		<div class="row-fluid">
			<h3>Metas Na Web</h3>
			<div class="col-md-4">
    			<h4>Metas Cadastradas:</h4>
    				@if(metas.isEmpty()){
    					<p>Nenhuma meta cadastrada!</p>
    				}else{
    					<table class="table">
    						<thead>
    							<tr>
         							<th>Descricao</th>
          							<th>Prioridade</th>
          							<th>Prazo</th>
          							<th>Semana</th>
        						</tr>
      						</thead>
      						<tbody>
    					@for(meta <- metas){
    						@if(meta.isCumprida()){
    							<tr class="success">
    						}else{
								<tr>
							}
    								<td>@meta.getDescricao()</td>
    								<td>@meta.getPrioridade().toString()</td>
    								<td>@meta.getStringPrazo()</td>
    								<td>Semana: @meta.getSemana()</td>
    							</tr>
    					}
							</tbody>
    					</table>
   					 }
    		</div>
    		
   			<div class="col-md-4">
   				<h4>Adicionar Meta:</h4>
   					<form id="form-row" class="form-signin" method="post" action="/meta">
       					<label>Descricao: <input name="descricao" class="form-control" type="text" placeholder="Descricao" required/></label><br>
       					<label>Definir Prioridade: </label>
        				<select name="prioridade">
							<option value="-1">Baixo</option>
							<option value="0" selected>Normal</option>
							<option value="1">Alto</option><br>
						</select><br>
						<label>Prazo:<input type="date" name="prazo" min="@dataAtual" max="@dataMaxima" placeholder="aaaa-mm-dd" required></label>
						<br>
        				<input type="submit" class="btn btn-success" value="Adicionar"/> <br>
    				</form>
			</div>
	
			<div class="col-md-4">
				@if(!metas.isEmpty()){
					<h4>Alterar:</h4>
					<form  class="form-group" method="post" action="/excluir">
					<legend>Excluir Meta:</legend>
						<select name="excluida">
							@for(meta <- metas){
								<option value="@meta.getId()">@meta.getDescricao()</option>
							}
						</select>
						<input type="submit" class="btn btn-danger" value="Excluir"/>
					</form>
					<br><br>
					<form class="form-group" method="post" action="/concluir">
						<legend>Marcar Concluida:</legend>
						<select name="concluida">
							@for(meta <- metas){
								@if(!meta.isCumprida()){
									<option value="@meta.getId()">@meta.getDescricao()</option>
								}
							}
						</select>
						<input type="submit" class="btn btn-primary" value="concluida"/>
					</form>
				}
			</div>
		</div> 
	</div>
}
